In [20]:
import numpy as np
import pandas as pd

In [21]:
y = [1,2,3,4,5,6,7,8,9]

In [22]:
records = []
for i in y:
    records.append([i, id(i)])
df = pd.DataFrame(records, columns = ["Var", "Addr"])

In [23]:
df["Delta"] = df.Addr - df.Addr.shift()

In [24]:
df

   Var            Addr  Delta
0    1  94738656111872    NaN
1    2  94738656111904   32.0
2    3  94738656111936   32.0
3    4  94738656111968   32.0
4    5  94738656112000   32.0
5    6  94738656112032   32.0
6    7  94738656112064   32.0
7    8  94738656112096   32.0
8    9  94738656112128   32.0